<div class="header">
    <div class="container">
        <a href="/" class="brand">Buzzy</a>
        <a href="/app" class="menu">App</a>
        <a href="/guide" class="menu">Guide</a>
    </div>
</div>