<header>
    <div class="container">
        <a href="/" class="brand">Buzzy</a>
        <nav>
            <a href="/app" class="menu">App</a>
            <a href="/guide" class="menu">Guide</a>
        </nav>
    </div>
</header>