<%- include('layouts/header') %>
<div class="main">
    <div class="input-group">
        <p>Paste Soundcloud track url below here</p>
        <div class="input-field">
            <input type="text" name="url" id="url" placeholder="https://soundcloud.com/..." autocomplete="off">
            <a class="btn" id="btn-go">Go</a>
        </div>
        <div class="loader">
            <div></div>
        </div>
    </div>
    <p class="message" style="display: none"></p>
    <div class="music" style="display: none">
        <div class="img">
            <!-- <div class="default">No Track Artwork</div> -->
            <img src="" alt="music-artwork">
        </div>
        <div class="info">
            <div class="genre"></div>
            <div class="title"></div>
            <div class="artist"></div>
            <div class="year"></div>
        </div>
    </div>
    <div class="download" style="display: none">
        <a class="btn">Download</a>
    </div>
</div>