* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

@keyframes load {
    50% {
        left: 100%;
    }
}

.btn {
    cursor: pointer;
    height: 40px;
    padding: 0 15px;
    background-color: #2d6cdf;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
}

a.btn {
    display: block;
    line-height: 40px;
    text-decoration: none;
}

input {
    outline: none;
    border: #25a4f5 1px solid;
    height: 40px;
    box-sizing: border-box;
    padding: 0 10px;
    font-size: 16px;
    font-family: "Amiko", sans-serif;
    color: #1c2c29;
}

::placeholder {
    color: #40514e;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #40514e;
}

::-ms-input-placeholder {
    color: #40514e;
}

.header {
    min-width: 280px;
    background-color: #2d6cdf;
    font-weight: 700;
    color: #ffffff;
    box-sizing: border-box;
}

.header .container {
    height: 60px;
    width: 100%;
    max-width: 1024px;
    padding: 0 40px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

@media screen and (max-width: 600px) {
    .header .container {
        padding: 0 20px;
    }
}

.header .container .brand {
    font-size: 24px;
}

.header .container .help {
    font-size: 18px;
}

.main {
    min-width: 280px;
    max-width: 900px;
    margin: auto;
    padding: 0 30px;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .main {
        padding: 0 20px;
    }
}

@media screen and (max-width: 600px) {
    .main {
        padding: 0 10px;
    }
}

.main p {
    font-weight: 600;
    font-family: "Amiko", sans-serif;
    text-align: center;
    color: #1c2c29;
}

.main .input-group {
    font-size: 16px;
    padding: 40px 0;
}

.main .input-group p {
    padding-bottom: 10px;
}

.main .input-group .input-field {
    display: flex;
    width: 100%;
}

.main .input-group .input-field input {
    width: 100%;
}

.main .input-group .loader {
    position: relative;
    overflow: hidden;
    display: none;
}

.main .input-group .loader.load {
    display: block;
    height: 2px;
}

.main .input-group .loader.load div {
    animation: load 2s ease-in infinite;
}

.main .input-group .loader div {
    position: absolute;
    background: #2d6cdf;
    width: 10%;
    height: 2px;
    left: -10%;
}

.main .message {
    color: #df472d;
}

.main .music {
    background: #deeaff;
    display: flex;
}

@media screen and (max-width: 600px) {
    .main .music {
        padding-top: 20px;
        flex-direction: column;
    }
}

.main .music .img {
    line-height: 0;
    text-align: center;
}

.main .music .img .default {
    margin: auto;
    background: #86a9a3;
    font-weight: 600;
    font-family: "Amiko", sans-serif;
    color: #deeaff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .music .img img,
.main .music .img .default {
    width: 300px;
    height: 300px;
    font-size: 22px;
}

@media screen and (max-width: 768px) {
    .main .music .img img,
    .main .music .img .default {
        width: 250px;
        height: 250px;
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    .main .music .img img,
    .main .music .img .default {
        width: 200px;
        height: 200px;
        font-size: 16px;
    }
}

.main .music .info {
    padding: 20px;
    width: 100%;
    color: #40514e;
    display: grid;
    grid-template-rows: auto 1fr 1fr auto;
}

.main .music .info .title,
.main .music .info .artist,
.main .music .info .genre {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main .music .info .title {
    font-weight: 700;
    font-size: 28px;
    color: #1c2c29;
    align-self: end;
}

.main .music .info .artist {
    font-weight: 600;
    font-size: 20px;
}

.main .music .info .year {
    font-weight: 500;
    font-size: 20px;
    align-self: center;
}

.main .music .info .genre {
    font-weight: 700;
    font-size: 18px;
    font-family: "Amiko", sans-serif;
    color: #2d6cdf;
    text-align: right;
}

@media screen and (max-width: 768px) {
    .main .music .info .title {
        font-size: 26px;
    }
    .main .music .info .artist,
    .main .music .info .year {
        font-size: 18px;
    }
    .main .music .info .genre {
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {
    .main .music .info {
        width: auto;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto 25px auto;
        grid-template-areas: 'title title' 'artist artist' '. .' 'year genre';
    }
    .main .music .info .title {
        text-align: center;
        grid-area: title;
        font-size: 24px;
    }
    .main .music .info .artist {
        text-align: center;
        grid-area: artist;
        font-size: 16px;
    }
    .main .music .info .year {
        grid-area: year;
        font-size: 16px;
    }
    .main .music .info .genre {
        grid-area: genre;
        font-size: 16px;
        align-self: center;
    }
}

.main .download {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
