$blue-alpha: #2d6cdf;
$blue-beta: #25a4f5;
$blue-gamma: #deeaff;

$black-alpha: #1c2c29;
$black-beta: #40514e;
$black-gamma: #86a9a3;

$white: #ffffff;
$red: #df472d;

$amiko: 'Amiko', sans-serif;
$poppins: 'Poppins', sans-serif;
