.header {
    min-width: 280px;
    background-color: $blue-alpha;
    font-weight: 700;
    color: $white;
    box-sizing: border-box;

    .container {
        height: 60px;
        width: 100%;
        max-width: 1024px;
        padding: 0 40px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;

        @include mobile() {
            padding: 0 20px;
        }

        .brand {
            font-size: 24px;
        }
        .help {
            font-size: 18px;
        }
    }
}
