.header {
    background-color: $blue-alpha;
    color: $white;
    box-sizing: border-box;

    .container {
        height: 60px;
        width: 100%;
        max-width: 1024px;
        padding: 0 40px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        margin: auto;

        @include mobile() {
            padding: 0 20px;
        }

        .brand {
            font-size: 24px;
            font-weight: 700;
            margin-right: auto;
        }
        .menu {
            font-size: 16px;
            margin-left: 30px;
            font-weight: 600;
            &:hover {
                font-weight: 700;
            }
            @include mobile() {
                margin-left: 20px;
            }
        }
    }
}
