<div class="how">
    <h1>How to Use Buzzy</h1>
    <ol>
        <li>
            <div class="text">Copy the url of track you want to download</div>
            <div class="img"><img src="/img/step-1.png" alt="step-one"></div>
        </li>
        <li>
            <div class="text">Paste in the provided input field, then click "Go"</div>
            <div class="img"><img src="/img/step-2.png" alt="step-two"></div>
        </li>
        <li>
            <div class="text">Click “Download”, then enjoy your Soundcloud Track</div>
            <div class="img"><img src="/img/step-3.png" alt="step-three"></div>
        </li>
    </ol>
</div>