<article class="what">
    <h1>Download Your Favorite Soundcloud Tracks Easily</h1>
    <p>Buzzy is a web application that allows you to easily download high-quality Soundcloud tracks. </p>
    <a href="/app" class="btn">Go to App</a>
</article>