<article class="why">
    <h1>Why Buzzy?</h1>
    <div class="features">
        <div class="feature">
            <div class="title">Easy and Fast</div>
            <div class="desc">
                By simply pasting the url of your favorite track. In the blink of an eye you can download it right
                away.
            </div>
        </div>
        <div class="feature">
            <div class="title">No Annoying Ads</div>
            <div class="desc">
                Buzzy does not display annoying ads. Because we want you to always feel comfortable when using our
                services.
            </div>
        </div>
        <div class="feature">
            <div class="title">Include Music Metadata</div>
            <div class="desc">
                The track you download will be complete with information about that track. Such as artist name,
                album
                name, album cover, year of release, etc.
            </div>
        </div>
    </div>
</article>